* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: rgba(8, 38, 92, 0.671);
  color: white;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  padding-left: 4rem;
}

.dark-mode {
  padding-right: 4rem;
  font-size: 1.1rem;
}
